.title{
    font-size: 1.9em;
    padding-left: 15px;
    font-family: roboto thin;
}
.logo{
    width: 55px;
}
/* .logo-group:hover{
    cursor: pointer;
    opacity: 0.9;
} */

/* Structure */
/* .example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
  } */
  
.example-header {
    min-height: 64px;
    padding: 8px 24px 0;
}

.mat-form-field {
    font-size: 15px;
    width: 100%;
}

.mat-table {
    overflow: auto;
    max-height: 750px;
}

input {
    border: 0;
}